
*{
  margin : 0px;
  padding: 0px;
}

.header {
  font-family: "Century Gothic", serif;
  backdrop-filter: blur(10px);
  background-image: url('./assets/homebg.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  color: #fff;
  padding: 15px;
  min-width: 100%; 
  text-align: center;
    /* Overlay */
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      backdrop-filter: blur(13px); 
      z-index: -1; 
    }
  
}

.home-body-container {
  padding: 330px;
  max-width: 100% ; /* Set a maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
  backdrop-filter: blur(10px);
  background-image: url('./assets/homebg.jpg'); /* Use the actual path to your image */
  background-size: cover; /* Adjust the background size to cover the container */
  background-repeat: no-repeat; /* Prevent background repetition */
  background-position: center ; /* Center the background image */
   /* Overlay */
   &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    backdrop-filter: blur(4px); /* Adjust the blur amount as needed */
    z-index: -1; /* Place the overlay below other content */
  }
  
}

/* Apply responsive styling using media queries */
@media screen and (max-width: 768px) {
  .home-body-container {
    padding: 10px;
  }
}

.logInBg {

  padding: 170px;
  max-width: 100% ; /* Set a maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
  backdrop-filter: blur(10px);
  background-image: url('./assets/homebg.jpg'); /* Use the actual path to your image */
  background-size: cover; /* Adjust the background size to cover the container */
  background-repeat: no-repeat; /* Prevent background repetition */
  background-position: center ; /* Center the background image */
   /* Overlay */
   &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: -1; /* Place the overlay below other content */
  }
}

nav {
  background-color: #003030;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px;
  min-width: 100%;
  
}
.newsLine {
  font-family: 'Century Gothic', sans-serif; /* Replace with the actual formal font */
  font-size: 20px;
  line-height: 1.1;
}
.buttonG {
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  background-color: #002222;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.buttonG:hover {
  background-color: #006060;

}
.buttonVIP {
  display: inline-block;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  background-color: #002222;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 100px;
  transition: background-color 0.3s;
}


.buttonVIP:hover {
  background-color: #9b0000;

}



.news{
  color: #fff;
}



.ThisForm {
  
  width: 400px;
  padding: 25px;
  border-radius: 10px;
  background-color: #f2f2f2;
 
  margin: 0 auto;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.ThisForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Century Gothic", sans-serif; 
}
.ThisForm p {
  display: block;
  font-weight: bold;
  font-family: "Century Gothic", sans-serif; 
}

.ThisForm input,
.ThisForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Century Gothic", sans-serif; 
}

.ThisForm button {
  background-color: #002222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
 
  
  
}
.ThisForm button:hover {
  background-color: #00aeae;
}

.dashboard-button {
  display: inline-block;
  padding: 18px 25px;
  background-color: #002222;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dashboard-button:hover {
  background-color: #007676;
}




.election-info {
  margin-bottom: 20px;
}
.voting-section {
  margin-top: 20px; 
}
.candidate-section {
  margin-top: 30px;
}
.position {
  margin-bottom: 20px; 
  padding: 30px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.candidate-list {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}

.candidate {
  display: flex;
  gap: 10px; 
  align-items: center;
}

.candidate-details {
  display: flex;
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 40px;
  width: 50%;
  font-family: "Century Gothic", sans-serif;
  margin-left: 22% ;
}


.candidate-info {
  flex: 1;
}
.candidate-list label{
  display: block;
  font-weight: bold;
  font-family: "Century Gothic", sans-serif;
  
}


.file-sharing {
  display: flex;
  justify-content: space-between;
}
.file-sharingA {
  display: flex;
 text-align: left;
 justify-content: center;
 padding-bottom: 100px;
}

.sent-files,
.received-files {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  background-color: #f4f4f4;
}

.file {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.fileA{
  
  margin: 10px 5px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
 
}

.mentoring-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.mentoring-table th,
.mentoring-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.mentoring-table th {
  background-color: #f2f2f2;
}

.mentoring-table tbody tr.even {
  background-color: #f9f9f9;
}

.mentoring-table tbody tr.odd {
  background-color: #fff;
}


.add-course-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-list {
  list-style: none;
  padding: 0;
}

.form-list li {
  margin-bottom: 15px;
}

.form-list label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-list input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.buttonG:hover {
  background-color: #45a049;
}



ul {
 
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0; 
  padding:0; 
  
}







li {
  display: inline;

}

a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px; 
  border-radius: 20px; 
  font-family: Arial, sans-serif;
  
}

a:hover {
  background-color: #01575c;
  
}


footer {
  background-color: #003336;
  color: #fff;
  text-align: center;
  padding: 20px;
  min-width: 100%;
}
